<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable Generator!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-btn {
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            padding: 10px 20px;
            margin-bottom: 10px;
            display: block; 
            width: 100%;
        }
        .custom-btn:hover {
            background-color: #0056b3;
        }
        .btn-column {
            margin-bottom: 20px;
        }
        .auth-btn-column {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome!</h2>

        <div class="row">
            <div class="col-md-6 btn-column">
                <a class="btn btn-primary custom-btn" href="{% url 'add_admin' %}">Add Admin</a>
                <a class="btn btn-primary custom-btn" href="{% url 'add_class' %}">Add Class</a>
                <a class="btn btn-primary custom-btn" href="{% url 'add_classroom' %}">Add Classroom</a>
                <a class="btn btn-primary custom-btn" href="{% url 'add_teacher' %}">Add Teacher</a>
            </div>

            <div class="col-md-6 btn-column">
                <a class="btn btn-primary custom-btn" href="{% url 'add_resource' %}">Add Resource</a>
                <a class="btn btn-primary custom-btn" href="{% url 'add_schedule' %}">Add Schedule</a>
                <a class="btn btn-primary custom-btn" href="{% url 'add_student' %}">Add Student</a>
            </div>
        </div>

        <div class="row auth-btn-column">
            <div class="col-md-6">
                <a class="btn btn-primary custom-btn" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
