

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resource</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Create a New Resource</h2>
    <form method="post" action="{% url 'add_resource' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_resource_name">Resource Name</label>
            <input type="text" class="form-control" id="id_resource_name" name="name" required>
            <div class="invalid-feedback">Please enter a resource name.</div>
        </div>

        <div class="form-group">
            <label for="id_resource_name">Description</label>
            <input type="text" class="form-control" id="id_description" name="description" required>
            <div class="invalid-feedback">Please enter a Description.</div>
        </div>

        <div class="form-group">
            <label for="id_classroom">Classroom:</label>
            <select class="form-control" id="id_classroom" name="classroom" required>
                <option value="" selected disabled>Select a classroom</option>
                {% for classroom in classrooms %}
                    <option value="{{ classroom.id }}">{{ classroom.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Please select a classroom.</div>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="id_availability" name="availability">
            <label class="form-check-label" for="id_availability">Availability</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.25.0/font/bootstrap-icons.css">

</body>
</html>
